.texture-bg {
  background-color: #0a0a0a;
  opacity: 1;
  background:
    radial-gradient(
      circle,
      transparent 20%,
      #0a0a0a 20%,
      #0a0a0a 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #0a0a0a 20%,
        #0a0a0a 80%,
        transparent 80%,
        transparent
      )
      10px 10px,
    linear-gradient(#171717 0.8px, transparent 0.8px) 0 -0.4px,
    linear-gradient(90deg, #171717 0.8px, #0a0a0a 0.8px) -0.4px 0;
  background-size:
    20px 20px,
    20px 20px,
    10px 10px,
    10px 10px;
}
